# # Workflow is based on the Astropy GitHub actions workflow, ci_workflows.yml

name: CI

on:
  push:
    branches:
      - '*'

  pull_request:
    branches:
      - '*'

jobs:
  tests:
    name: Unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest] # Add more os?
        python-version: [3.7, 3.8]
        astropy-version: ['<4.1', '<5.0']
        numpy-version: ['<1.20', '<1.21']
        scipy-version: ['<1.5', '<1.6']

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install pytest
          # python -m pip install -r requirements.txt
          python -m pip install 'numpy${{ matrix.numpy-version }}'
          python -m pip install 'astropy${{ matrix.astropy-version }}'
          python -m pip install 'scipy${{ matrix.scipy-version }}'
          python -m pip install matplotlib
          python -m pip install pyyaml 
      
      - name: Run the test
        run: pytest
          
          
  docs:
    name: Doc test
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false
        matrix:
            os: [ubuntu-latest]
            python-version: [3.8]
    steps:
        - name: Checkout code
          uses: actions/checkout@v2
          with:
            fetch-depth: 0
        
        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v2
          with:
            python-version: ${{ matrix.python-version }}
        
        - name: Install Python dependencies
          run: |
            python -m pip install --upgrade pip wheel Sphinx
            python -m pip install sphinx-astropy
        
        - name: Test the documentation
          run: sphinx-build -W --keep-going -b html docs docs/_build/html
        
